* {
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.noselect, .ImageButton {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

#root {
  text-align: center;
  width: 100%;
}

.App {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.ListWrapper {
  text-align: center;
  vertical-align: middle;
  margin-top: 10px;
}

.ItemList {
  display: inline-block;
  margin: 0 auto;
  width: 350px;
  border: 1px solid black;
}

.AddDialog {
  border: 1px solid black;
  width: 350px;
  margin: 0 auto;
  padding: 0px;
}

.AddDialog > input {
  width: calc(100% - 60px);
  height: 40px;
  text-align: left;
  margin-left: 10px;
  font-size: large;
}

.AddDialog > button {
  background: none;
  border: none;
  font-size: 16px;
  height: 44px;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-right: -4px;
  border: 1px solid black;
}

.AddDialog > button:hover {
  background-color: rgb(240, 240, 240);
  transition: 0.3s;
}

h1 {
  text-align: center;
}

.ListItem {
  width: 100%;
  display: inline-block;
  margin-bottom: -1px;
  height: 40px;
  vertical-align: middle;
  border-bottom: 1px solid black;
  border-radius: 0px;
}

.ListItem > p {
  display: inline-block;
  text-align: left;
  width: calc(100% - 25px);
  height: 25px;
  vertical-align: middle;
  text-align: center;
  padding: 0px;
  margin: auto;
  margin-top: 7px;
}

/* This class is meant for the last item in a list,
to prevent it from having a bottom border */
.ListItem-NoBorder {
  border: none;
}

.ImageButton {
  padding: 0px;
  width: 25px;
  height: 100%;
  vertical-align: middle;
}

#AddDialogTextField {
  border: none;
}